/* ========== Header ==========  */
.app__header{

}

/* ===== Header navbar =====  */
.header__navbar{
    height: var(--header-height);
}

/* ===== Header navbar logo =====  */
.header__navbar-logo{
    display: block;
    text-decoration: none;
    color: var(--white-color);
    height: var(--header-height);
    position: relative;
}

.header__navbar-logo-img{
    top: 50%;
    width: 100%;
    padding: 0 5px;
    position: absolute;
    transform: translateY(-50%);
}

/* ===== Header navbar list =====  */
.header__navbar-list{
    height: var(--header-height);
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header__navbar-item{
    flex: 1;
    display: flex;
    justify-content: center;
}

.header__navbar-link{
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: #727475;
    text-transform: uppercase;
}

/* ===== Header navbar btn =====  */
.header__navbar-button{
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar-btn{
    height: 34px;
    width: 136px;
}