*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 100%;
}

body>div{
    margin: auto;
}

/* Block */
.btn{
    border: none;
    outline: none;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-width: 120px;
    transition: opacity .2s ease;
}

.btn--size-s{
    padding: 8px 32px;
}

.btn--size-l{
    padding: 16px 56px;
}

.btn:hover{
    opacity: 0.8;
}

.btn + .btn{
    margin-left: 16px;
}

.btn--success{
    background-color: #71be34;
}

.btn--warn{
    background-color: #ffb702;
}

.btn--danger{
    background-color: #ff623d;
}

.btn--disabled{
    opacity: 0.5 !important;    
    cursor: default;
}